@import "../../../styles.scss";
.section-main {
    display: grid;
    place-items: center;
    height: 100vh;

    .article-info {
        text-align: center;
        width: 100%;
        padding: 20px;
        max-width: 600px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        background: var(--secondary-color);
        height: auto;
        border-radius: 8px;
        position: relative;

        h1 {
            margin-bottom: 16px;
        }
    }
}
