// src/app/components/formulario/formulario.component.scss

// Importe os estilos globais de forma relativa
@import "../../../styles.scss";

/* Adicione estilos específicos do componente */
:host {
    width: 100%;
    padding: 20px;
    max-width: 600px;
    min-width: 200px;
    background: var(--secondary-color);
    border-radius: 8px;

    .form-register {
        background-color: var(--background-opacyty-card);
        border-radius: 8px;
        box-shadow: 0 4px 8px var(--shadow-color);
        padding: 16px;
        display: flex;
        flex-direction: column;
        height: auto;
        border-radius: 8px;

        .section-buttons {
            margin-top: 20px;
            text-align: right;
        }
    }
}
